<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.core.taskActivationListeners">
      <listener
            class="net.resheim.eclipse.timekeeper.TaskActivationListener"
            id="net.resheim.eclipse.timekeeper.taskActivationListener">
      </listener>
   </extension>
</plugin>
