language: java
dist: trusty
sudo: false

env:
  global:  
    - DISPLAY=:99.0
  
before_install:  
  - sh -e /etc/init.d/xvfb start - sleep 10 

script: 
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=turesheim_eclipse-timekeeper -Pother-os -Dtycho.localArtifacts=ignore
jdk:
  - openjdk8
cache:
  directories:
    - $HOME/.m2
addons:
  sonarcloud:
    organization: "turesheim-github"
    token:
      secure: "QiZ2QkV0M4jvvXjWWV+jEXXzRXtuHcrJzdP9/VUQCeo96SawZMuzW8IsREG8sqr5QGUx18kK2Imrey9WrnSKYqc4uEfHA78fZ8u4ECCI1B9mFy+xdi3BxzoH2QXZnrQQkqrvICj9iPbsZFJMrPYct3eo/UxBbaOoqaQ5/Ulf9To="
deploy:
  # Deploy to GitHub releases if the master branch has been tagged
  provider: releases
  skip_cleanup: true
  file_glob: true
  file: ${HOME}/build/${TRAVIS_REPO_SLUG}/net.resheim.eclipse.timekeeper-site/target/net.resheim.eclipse.timekeeper-*.zip
  api_key:
    secure:  TrtpdW5MvmiovgwbyXM4I9Dqm4ZLgSi8PQGaPVeaXNbJdiK//F7TB3fPmBhaQWQB/irEGNCvZhBZIEsp8YMRy0d5Trmq3uRHy90Hu278colkb5lzyQeeRVAXcmrJFYlfATM4y90+qrp9+8Wlw62UA4NPcaYybzLJYo4Xb30x2hQ=
  overwrite: true
  on:
    repo: turesheim/eclipse-timekeeper
    tags: true
    branch: master
