<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse Timekeeper Target Platform" sequenceNumber="1419965422">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.8.0.v20120913-155553-9N89H_oGMMn84_uucqpkwz0bBdLL"/>
      <unit id="org.eclipse.sdk.feature.group" version="3.8.2.v20130116-114247-7Q85DVDQQ3JLtb_hNUm3_MTesRM5RqdjCSfXEI7waiJ_N"/>
      <unit id="org.eclipse.pde.core" version="3.8.1.v20130115-200504"/>
      <repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.tasks.core" version="3.13.0.v20140704-0050"/>
      <unit id="org.eclipse.mylyn.tasks.ui" version="3.13.0.v20140826-1734"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.eclipse.mylyn.bugzilla.core" version="3.13.0.v20140830-0030"/>
      <unit id="org.eclipse.mylyn.commons.ui" version="3.13.0.v20140704-2323"/>
      <repository location="http://download.eclipse.org/mylyn/releases/latest"/>
    </location>
  </locations>
</target>
