<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Timekeeper"
            id="net.resheim.eclipse.timekeeper.ui">
      </category>
      <view
            name="Workweek"
            icon="icons/full/eview/view_obj.png"
            category="net.resheim.eclipse.timekeeper.ui"
            class="net.resheim.eclipse.timekeeper.ui.views.WorkWeekView"
            id="net.resheim.eclipse.timekeeper.ui.views.workWeek">
      </view>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.taskActivationListeners">
      <listener
            class="net.resheim.eclipse.timekeeper.internal.TaskActivationListener"
            id="net.resheim.eclipse.timekeeper.taskActivationListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.resheim.eclipse.timekeeper.ui.workweek"
            name="Workweek"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.CopyTaskDetailsToHTML"
            id="net.resheim.eclipse.timekeeper.copyTaskToHTML"
            name="Copy Details to HTML">
      </command>
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.DefaultTemplateToClipboardHandler"
            id="net.resheim.eclipse.timekeeper.ui.Template2Clipboard"
            name="Selected week to Clipboard">
      </command>
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.TemplateExportHandler"
            id="net.resheim.eclipse.timekeeper.ui.templateExportCommand"
            name="Template Export Command">
         <commandParameter
               id="net.resheim.eclipse.timekeeper.ui.templateExportCommand_name"
               name="name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="net.resheim.eclipse.timekeeper.ui.templateExportCommand_file"
               name="file"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.resheim.eclipse.timekeeper.ui.views.workWeek?after=task">
         <command
               commandId="net.resheim.eclipse.timekeeper.copyTaskToHTML"
               label="Copy Details to HTML"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.resheim.eclipse.timekeeper.ui.views.workWeek?before=navigation">
         <command
               commandId="net.resheim.eclipse.timekeeper.ui.Template2Clipboard"
               icon="icons/full/elcl/export.png"
               disabledIcon="icons/full/dlcl/export.png"
               id="export"
               label="Export"
               style="pulldown"
               tooltip="Export selected week to clipboard">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:export">
         <dynamic
               class="net.resheim.eclipse.timekeeper.ui.export.TemplateExportMenu"
               id="net.resheim.eclipse.timekeeper.ui.dynamicTemplateMenu">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferencePage"
            id="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferences"
            name="Timekeeper">
      </page>
      <page
            category="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferences"
            class="net.resheim.eclipse.timekeeper.ui.preferences.DatabasePreferencePage"
            id="net.resheim.eclipse.timekeeper.ui.preferences.DatabasePreferences"
            name="Database">
      </page>
      <page
            category="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferences"
            class="net.resheim.eclipse.timekeeper.ui.preferences.TemplatePreferencePage"
            id="net.resheim.eclipse.timekeeper.ui.preferences.TemplatePreferences"
            name="Report Templates">
      </page>
      <page
            category="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferences"
            class="net.resheim.eclipse.timekeeper.ui.preferences.LabelPreferencePage"
            id="net.resheim.eclipse.timekeeper.ui.preferences.LabelPreferences"
            name="Labels">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.resheim.eclipse.timekeeper.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
