<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Timekeeper"
            id="net.resheim.eclipse.timekeeper.ui">
      </category>
      <view
            name="Workweek"
            icon="icons/full/eview/view_obj.png"
            category="net.resheim.eclipse.timekeeper.ui"
            class="net.resheim.eclipse.timekeeper.ui.views.WorkWeekView"
            id="net.resheim.eclipse.timekeeper.ui.views.workWeek">
      </view>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.taskActivationListeners">
      <listener
            class="net.resheim.eclipse.timekeeper.internal.TaskActivationListener"
            id="net.resheim.eclipse.timekeeper.taskActivationListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.resheim.eclipse.timekeeper.ui.workweek"
            name="Workweek"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.CopyTaskDetailsToHTML"
            id="net.resheim.eclipse.timekeeper.copyTaskToHTML"
            name="Copy Details to HTML">
      </command>
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.ExportToHTMLHandler"
            id="net.resheim.eclipse.timekeeper.ui.HTMLExport"
            name="HTML Export">
      </command>
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.ExportToCSVHandler"
            id="net.resheim.eclipse.timekeeper.ui.CSVExport"
            name="CSV Export">
      </command>
      <command
            defaultHandler="net.resheim.eclipse.timekeeper.ui.commands.HTMLToClipboardHandler"
            id="net.resheim.eclipse.timekeeper.ui.HTMLClipboard"
            name="HTML to Clipboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.resheim.eclipse.timekeeper.ui.views.workWeek?after=task">
         <command
               commandId="net.resheim.eclipse.timekeeper.copyTaskToHTML"
               label="Copy Details to HTML"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.resheim.eclipse.timekeeper.ui.views.workWeek?before=navigation">
         <command
               commandId="net.resheim.eclipse.timekeeper.ui.HTMLClipboard"
               icon="icons/full/elcl/export.png"
               disabledIcon="icons/full/dlcl/export.png"
               id="export"
               label="Export"
               style="pulldown"
               tooltip="Copy week as HTML to clipboard">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:export">
         <command
               commandId="net.resheim.eclipse.timekeeper.ui.CSVExport"
               label="Save week as CSV"
               style="push">
         </command>
         <command
               commandId="net.resheim.eclipse.timekeeper.ui.HTMLExport"
               label="Save week as HTML"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferences"
            id="net.resheim.eclipse.timekeeper.ui.preferences.TimekeeperPreferences"
            name="Timekeeper">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.resheim.eclipse.timekeeper.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
